{% extends "layout.html" %}

{% block content %}

<main class="about">
    <h1>About</h1>
    <hr>
    <div>
        Welcome to our Live Chat Application, where real-time communication meets seamless connectivity! We created this
        platform with a passion for fostering instant and meaningful conversations, breaking down barriers, and
        connecting
        people from all corners of the globe. Here's a glimpse into our journey:
        <br><br>
        <ul>
            <li>
                Inspiration Behind the Project:
                The inspiration for this project sprouted from our collective belief in the power of
                real-time communication. We recognized the need for a platform that not only facilitates instant
                messaging but
                also prioritizes user experience and accessibility. Whether you're connecting with friends,
                collaborating on
                projects, or meeting new people, we wanted to create a space where conversations flow effortlessly.
            </li>
            <br><br>

            <li>
                Project Timeline:


                Our journey has been marked by collaboration, learning, and the tireless pursuit of creating a platform
                that
                resonates with users.
            </li>
            <br><br>


        </ul>
        <br>


        <div>
            <div>Team Members</div>
            <div> Meet the One Man Team!
                Our dedicated team members have played a pivotal role in bringing project to life. Connect
                with me on various social platforms to stay updated on the progress of the project and later versions.
            </div>

            <br>

            <div>
                <strong>Daniel Jones Obot</strong>
                <ul>
                    <li>
                        <a href="https://github.com/danieljonesobot">GitHub</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/danieljonesobot">X</a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/danieljonesobot/">LinkedIn</a>
                    </li>
                </ul>
            </div>


            <br>


        </div>

        <div>
            Please feel free to reach out to me on these platforms, and let's continue building a vibrant community
            together! Thank you for being a part of project. Happy chatting!
        </div>



    </div>

</main>


{% endblock %}