{% extends "layout.html" %}

{% block content %}

<main class="about">
    <h1>About</h1>
    <hr>
    <div>
        <div>
            Welcome to the Live Chat Application, where real-time communication meets seamless connectivity! This
            platform was created with a passion for fostering instant and meaningful conversations, breaking down
            barriers, networking and connecting people from all corners of the globe. Here's a glimpse into the
            development journey:
        </div>
        <br><br>

        <div>
            <h4>Inspiration Behind the Project</h4>
            The inspiration for this project sprouted from my love for social and communication applications and
            my belief in the power of real-time communication. During the covid-19 global
            lock-down, I enjoyed using different social media applications. I have always been fascinated about how they
            work and technology behind these applications. With this inspiration, I was inspired to try to create my own
            real time chat application. I recognize the need for a platform that not only facilitates instant messaging
            but also prioritizes user experience and accessibility. Whether you're connecting with friends, family
            collaborating on projects, or meeting new people, I wanted to create a space where conversations flow
            effortlessly.
        </div>
        <br><br>


        <div>

            <h4>Project Timeline</h4>


            The project was developed over a period of 3 weeks. The journey has been marked with learning, research and
            the tireless pursuit for creating a platform that resonates with users. The journey from concept to reality
            has been a challenging yet an exhilarating ride.

            <br><br>


        </div>
        <br>


        <div>
            <h4>Team</h4>
            <div>With a keen eye for detail and a knack for keeping things on track, I ensured that the project
                progressed smoothly and met key milestones. Being the only person on the team, I was responsible for
                designing the architecture, front-end and back-end of the application.
                Connect with me on any of the socials below to stay updated on the progress of the project and later
                versions.
            </div>

            <br>

            <div>
                <strong>Daniel Jones Obot</strong>
                <ul>
                    <li>
                        <a href="https://github.com/danieljonesobot">GitHub</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/danieljonesobot">X</a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/danieljonesobot/">LinkedIn</a>
                    </li>
                    <li>
                        <a href="https://medium.com/@daniel.jonesobot">Medium</a>
                    </li>
                </ul>
            </div>


            <br>


        </div>

        <div>
            Happy chatting!
        </div>



    </div>

</main>


{% endblock %}