{% extends "layout.html" %}

{% block content %}

<main class="about">
    <h1>About</h1>
    <hr>
    <div>
        <div>
            Welcome to the Live Chat Application, where real-time communication meets seamless connectivity! This
            platform was created with a passion for fostering instant and meaningful conversations, breaking down
            barriers,
            and
            connecting with peers and people from all corners of the globe. Here's a glimpse into our journey:
        </div>
        <br><br>

        <div>
            <h4>Inspiration Behind the Project</h4>
            The inspiration for this project sprouted from my love for <strong>Club House</strong>, a popular social
            application and
            my belief in the power of real-time communication. Having used the app during the covid-19 global
            lock-down, I was fascinated about how it works and technology bedind it. With this inspiration and the
            opportunity the final project presented, I was inspired to try to create my own real time chat
            application. I recognize the need for a platform that not only facilitates instant messaging but also
            prioritizes user experience and accessibility. Whether you're connecting with friends, family
            collaborating on projects, or meeting new people, I wanted to create a space where conversations flow
            effortlessly.
        </div>
        <br><br>


        <div>

            <h4>Project Timeline</h4>


            Our journey has been marked by collaboration, learning, and the tireless pursuit of creating a platform
            that
            resonates with users.

            <br><br>


        </div>
        <br>


        <div>
            <h4>Team Members</h4>
            <div>I am the only team member on this project. I am a team player and would have loved to collaborate with
                someone on this project, however the team is a one-man team.
                Connect with me on various social platforms to stay updated on the progress of the project and later
                versions.
            </div>

            <br>

            <div>
                <strong>Daniel Jones Obot</strong>
                <ul>
                    <li>
                        <a href="https://github.com/danieljonesobot">GitHub</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/danieljonesobot">X</a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/danieljonesobot/">LinkedIn</a>
                    </li>
                </ul>
            </div>


            <br>


        </div>

        <div>
            Please feel free to reach out to me on these platforms, and let's continue building a vibrant community
            together! Thank you for being a part of project. Happy chatting!
        </div>



    </div>

</main>


{% endblock %}