{% extends 'layout.html' %}

{% block content %}
<div class="content-section container">
    <form method="POST" action="">
        <!-- to protect our form from attacks -->
        {{form.hidden_tag()}}
        <!-- form protection end -->

        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Log In</legend>

            <!-- we pass in our fields from the forms here -->

            <div class="form-group">
                <!-- username label -->
                {{form.username.label(class="form-control-label")}}

                <!-- username field -->
                {% if form.username.errors %}
                {{form.username(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                </div>

                {% else %}

                {{form.username(class="form-control form-control-lg", placeholder="Enter your username" )}}

                {% endif %}

            </div>


            <div class="form-group">
                <!-- password label -->
                {{form.password.label(class="form-control-label")}}

                <!-- password field -->
                {% if form.password.errors %}
                {{form.password(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                </div>

                {% else %}

                {{form.password(class="form-control form-control-lg", placeholder="password")}}

                {% endif %}

            </div>

            <div class="form-check">
                {{form.remember(class="form-check-input")}}
                {{form.remember.label(class="form-check-label")}}
            </div>
        </fieldset>

        <div class="form-group">
            {{form.submit(class="btn btn-outline-info")}}
        </div>

        <small class="text-muted ml-2">
            <a href="#">Forgot Password</a>
        </small>
    </form>
</div>

<div class="border-top pt-3">
    <small class="text-muted">
        Need an account? <a class="ml-2" href="{{url_for('registration')}}">Register</a>
    </small>
</div>
{% endblock %}