{% extends 'layout.html' %}

{% block content %}

<div class="content">
    <div class="container" style="border: 1px solid #adb4b4; padding: 50px; border-radius: 10px; width: 500px;">
        <div class="media">
            <img class="rounded-circle account-img" src="{{image_file}}"
                style="height: 150px; width: 150px; border: 1px solid #f0ad4e; border-radius: 50%;">
            <div class="media-body">
                <h5 class="account-heading">{{'@' + current_user.username}}</h5>
                <!-- <p class="text-secondary">{{current_user.email}}</p> -->
            </div>
        </div>


        <!-- Profile FORM STARTS HERE -->
        <!-- "enctype" means encoding type and is used to ensure the form passes 
            the image data properly -->
        <form method="POST" action="" enctype="multipart/form-data">
            <!-- to protect our form from attacks -->

            {{form.hidden_tag()}}

            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile</legend>

                <!-- we pass in our fields from the forms here -->

                <div class="form-group">
                    {{form.username.label(class="form-control-label")}}

                    {% if form.username.errors %}
                    {{form.username(class="form-control form-control-md is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                    </div>

                    {% else %}

                    {{form.username(class="form-control form-control-md")}}

                    {% endif %}
                </div>


                <div class="form-group">
                    {{form.picture.label()}}
                    {{form.picture(class="form-control-file")}}
                    {% if form.picture.errors %}
                    {% for error in form.picture.errors %}
                    <span class="text-danger">{{error}}</span><br>
                    {% endfor %}
                    {% endif %}
                </div>

            </fieldset>

            <div class="form-group">
                {{form.submit(class="btn btn-outline-primary")}}
            </div>
        </form>


        <!-- END OF FORM -->
    </div>
</div>
{% endblock %}