{% extends 'layout.html' %}

{% block content %}
<div class="content">
    <div class="innerContainer">
        <form method="post">
            <!-- to protect our form from attacks -->
            {{form.hidden_tag()}}
            <!-- form protection end -->

            <!-- what does this do??? -->
            {{ form.csrf_token }}

            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Sign up</legend>
                <div class="form-group">
                    <!-- <label for="Username"> Username </label> -->
                    {{ form.Username.label }}
                    {{ form.Username (class="form-control form-control-md", placeholder="username")}}
                </div>

                <div class="form-group">
                    <!-- <label for="Password"> Password </label> -->
                    {{ form.Password.label }}
                    {{ form.Password (class="form-control form-control-md", placeholder="password")}}
                </div>

                <div class="form-group">
                    <!-- <label for="ConfirmPassword"> Confirm Password </label> -->
                    {{ form.ConfirmPassword.label}}
                    {{ form.ConfirmPassword (class="form-control form-control-md", placeholder="confirm password")}}
                </div>
                <div class="form-group">
                    {{form.Submit (class="btn btn-outline-primary")}}
                </div>
            </fieldset>

            <div>
                <small class="text-muted">Already have an account?</small>
                <a class="ml-2" href="{{url_for('login')}}">Login now</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}